<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../inc/style.ejs') %>
</head>

<body>
    <div class="container m-auto p-2">
        <%- include('../../inc/admin-header.ejs') %>
            <div class="mt-10">
                <h2 class="text-center font-bold my-3 text-color text-2xl">All Orders</h2>

              


                    <% if (orders.length > 0) { %>
                     <div>
                        <% orders.forEach(order=> { %>
                            <div class="border bg-white mt-2 flex items-center rounded-2xl p-2 ">
                                <h2 class="bg-red-600 w-18 h-18 flex items-center justify-center rounded-md text-2xl font-bold text-white">
                                    <%= order.table %>
                                    
                                </h2>
                                <% let total = 0; %>
                                <% let total_order = 0; %>
        
                                <div class="flex flex-col  flex-1 mx-10">
                                    <% order.order.forEach(item=> { total += item.quantity * item.price; total_order += total  %>
        
                                        <div class="flex   mb-2 shadow">
                                            <img src="<%= item.image %>" class="w-20 h-20" alt="">
                                            <div class="flex flex-col mx-2">
                                                <h2 class="text-red-600">
                                                    <%= item.title %>
                                                </h2>
                                                <h2>
                                                    Qtn : <%= item.quantity %>
                                                </h2>
                                                <h2>
                                                    Price : <%= item.price %>
                                                </h2>
                                                <h2>
                                                    Total: <%= total %>
                                                   
                                                </h2>
        
                                                
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <div class="bg-green-600 text-white px-5 py-2 rounded-2xl">
                                    Total: <%= total_order %>
                                    
        
                                </div>
                               
                                <div class="flex mx-5">
                                    <a href=""
                                        class="w-10 h-10 rounded-md p-2 mx-2 bg-green-600 flex items-center justify-center"><i
                                            class="bi bi-eye text-white text-2xl"></i></a>
                                    <a href="/odersroutes/change/order/status/<%= order._id %>"
                                        class="w-10 h-10 rounded-md p-2 mx-2 bg-green-600 flex items-center justify-center"><i
                                            class="bi bi-check text-white text-2xl"></i></a>
                                </div>
                            </div>
                            <% }) %>
                     </div>
                    <% } else { %>
                        <h1 class="text-white text-4xl text-center mt-10">No Orders Found</h1>
                    <% } %>


            </div>
    </div>
    <%- include('../../inc/script.ejs') %>
</body>

</html>