


<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../../inc/style.ejs')  %>
</head>
<body>
<div class="container m-auto p-2">
    <%- include('../../inc/admin-header.ejs')  %>
   <div class="mt-10">
    <h2 class="text-center font-bold my-3 text-red-600 text-2xl">Add New Offers</h2>
    <div class="mt-15">
        <form action="/offersroutes/add/offer" method="post" enctype="multipart/form-data">
            <div class="my-5">
                <label  class="block input-label mb-2 text-sm" >Offer Title</label>
                <input type="text" class="form-input px-2 py-1 w-full" name="title" >
            </div>

            <div class="my-5">
                <label class="block input-label mb-2 text-sm" > Offer Description</label>
                <textarea name="description" class="form-input px-2 py-1 w-full" ></textarea> 
            </div>

            <div class="my-5">
                           
                <label for="image" class=" w-full flex justify-center items-center border border-dashed p-6">
                    <img id="preview" src="" alt="Uploaded Image" class="w-30 rounded-3xl h-30 hidden mx-10">
                    <input id="image" onchange="previewImage(event)" class="hidden" type="file" name="image">
                    <img  src="/assets/images/image-svgrepo-com.svg" class="w-18 h-18" alt="">
                </label>

            </div>


            <button type="submit" class="primary-buuton px-10 py-3 rounded-lg w-full">save</button>
        </form>
    </div>


    
    <hr class="my-10">

    <h2 class="text-center font-bold mt-5 text-red-700">All Offers</h2>

    <!-- show all categories -->
     <div class="grid grid-cols-2 md:grid-cols-4 gap-5 my-10">
     

        <% offers.forEach(offer => { %>
         <div>
            <img src="/uploads/<%= offer.image %>" alt="">
            <h5><%= offer.title %></h5>
            <h5><%= offer.description %></h5>
            <div class="flex justify-between p-2">

                <a href="/admin/meal/edit/<%= offer._id %>" class="flex-1 w-full block mx-2 text-center bg-green-600 rounded-lg  p-2 text-white"><i class="bi bi-pen"></i></a>
                <a href="/offersroutes/offer/delete/<%= offer._id %>" class="flex-1 w-full block mx-2 text-center bg-red-600 rounded-lg  p-2 text-white"><i class="bi bi-trash3"></i></a>
            </div>
         </div>
        <% }) %>

    
     </div>
   </div>
</div>
<%- include('../../inc/script.ejs')  %>
</body>
</html>